{% extends "base.html" %}

{% block posts %}
    
    <ul>
        {% if posts %}
            {% for post in posts %}

                <div class="post">
                    <div class="header">
                        <h3><a href="posts/{{ post.slug }}"> {{ post.title }} </a></h3>
                        <div class="date"><br>Posted on  {{ post.timestamp }}</div>
                        
                    </div>
                    <div class="content">
                        {% if post.short_text %}
                            <p> {{post.short_text }} </p>
                        {% endif %}
                    </div>          
                    <div class="footer">
                        <ul>
                            {% if session.logged_in %}
                            <li class="printerfriendly"><a href="edit_post/{{ post.slug }}">Edit post</a></li>
                            {% endif %}
                            <!--<li class="comments"><a href="#">Comments (18)</a></li>-->
                            <li class="readmore"><a href="/posts/{{ post.slug }}">Read more</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 align="center">Nothing... </h1>
        {% endif %}
    </ul>
{% endblock %}